<main class="main">
  <div class="tag-inner">
    <div class='tag-name'>
       <%= @tag.name %>
    </div>   
      <div class="tag-contents">
        <% @recipes.each do |recipe| %>
          <div class="tag-content">
            <div class="card__body">
              <div class='tag-image'>
                <%= attachment_image_tag recipe, :main_image  %>
              </div>
            </div>
            <p class="card__summary">
              <a href="/tags/2">
                <%= recipe.title %>
              </a>
            </p>
          </div> 
        <% end %>
      </div>
    </div>
  </div>
</main>
 

 